h1 {
    color: #3366ff;
    font-size: 50px;
    border: 3px dashed orangered;
}

li {
    color: black;
}
body {
    background-image: url(foguete.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.moon {
    color: yellow;
}